* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  background-color: #aaa;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* Landing page */

section.landing {
  background-image: url('../assets/bgs/15459.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: auto;
}

section.landing div.title {
  padding-top: 12vh;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  display: flex;
}

section.landing div.name {
  display: inline-block;
  background-color: orange;
  box-shadow: 5px 5px 2px black;
  align-self: center;
  margin-right: 3%;
}

section.landing div.name:hover {
  background-color: rgb(255, 136, 0);
  box-shadow: 5px 5px 0 black;
}

section.landing h1 {
  line-height: 5vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: 0;
}

section.landing h2 {
  margin-top: 0;
  font-size: 4vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

section.landing div.dev {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.landing div.dev * {
  display: inline-block;
}

div.dev div.line {
  background-color: rgb(175, 174, 170);
  height: 1.2vw;
  width: 20vw;
  border: black dashed 0.35vw;
}

div#git {
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

div#git p:hover {
  box-shadow: none;
}

section.landing a img {
  justify-items: center;
  align-items: center;
}

section.landing p {
  margin: 10px 3%;
  font-size: 2.5vw;
  font-family: monospace;
}

section.landing p:hover {
  color: navy;
  box-shadow: 2px 2px 2px black;
}


div.subject {
  background-image: url("../assets/bgs/tortoise-shell.svg");
  background-attachment: fixed;
  background-size: 60%;
  padding: 2vw;
}

div.subject h1 {
  background: rgba(0, 0, 0, 0.65);
  display: inline-block;
  font-family: monospace;
  color: white;
  font-size: 4vw;
}

div.subject h1 a {
  color: white;
  text-decoration: none;
}

/* Main page content*/

section.content {
  background-image: url("../assets/bgs/protruding-squares.svg");
}

section.content ul {
  padding: 1% 2vw;
  margin: 30px auto;
  background-color: white;
  width: 75%;
  box-shadow: 4px 4px 2px black;
}

section.content ul:last-of-type {
  margin: 0 auto;
  margin-top: 30px;
}

section.content ul:hover {
  box-shadow: 4px 4px 0px black;
}

section.content ul li {
  position: relative;
  border-bottom: 1px dashed black;
  padding: 2% 0;
  list-style: none;
  display: grid;
  grid-template-areas: "logo title"
    "logo content";
  grid-template-columns: min-content;
}

section.content ul li div {
  grid-area: content;
  justify-self: center;
}


section.content ul li h2 {
  font-size: 3vw;
  margin: 0 auto;
  grid-area: title;
  text-align: center;
}

section.content ul li h3 {
  font-size: 2vw;
  align-self: center;
  justify-self: center;
}

section.content ul li p {
  text-align: center;
  font-size: 1.5vw;
}

section.content ul li.multiple-logos {
  grid-template-columns: max-content;
}

section.content ul li div.logos {
  align-items: center;
  align-self: center;
  grid-area: logo;
}

section.content ul li.project {
  grid-template-areas: "project description";
  grid-template-columns: max-content;
}

section.content ul li.project a img {
  grid-area: "project";
  align-self: center;
  align-content: center;
  align-items: center;
}

section.content ul li.project p {
  grid-area: "description";
  margin-left: 2vw;
  font-size: 1.5vw;
  text-align: justify;
}


/* Navigation bar and home button*/

nav ul {
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

nav ul:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul li {
  background-color: rgba(0, 0, 0, 0.625);
  display: inline-block;
  padding: 0 5px;
  margin: 0 10px;
  border: 5px double black;
}

nav ul li:hover {
  background-color: black;
  border: 5px double green;
}

nav ul a li {
  font-size: 2vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: white;
}

nav ul a li:hover {
  text-decoration: underline;
}

section.content a div#home-button {
  position: sticky;
  top: 0;
  float: right;
  padding: 0.5vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px double black;
  display: flex;
  align-items: flex-end;
  justify-items: center;
}

section.content a div#home-button:hover {
  background-color: black;
  border: 5px double green;
}

section.content a div#home-button p {
  font-size: 2vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: white;
}

section.content a div#home-button p:hover {
  text-decoration: underline;
}


div i.material-icons {
  margin: 0 auto;
  color: white;
  font-size: 3vw;
}

li i.material-icons {
  color: black;
  font-size: 6vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}


img#pfp {
  border-radius: 50%;
  width: 16vw;
}

img#git-logo {
  margin-right: 2vw;
  width: 18vh;
  overflow: visible;
}

img.logo {
  width: 10vw;
  grid-area: logo;
}

li a img {
  width: 20vw;
}

li a img.horizontal {
  width: 40vw;
}

iframe {
  width: 32vw;
  height: 18vw;
}


.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}





div.ability p {
  display: inline-block;
}

div.ability div.bg {
  display: inline-block;  
  position: relative;
  box-sizing: content-box;
  width: 20vw;
  text-align: center;
  background: darkgrey;
  border: black 5px double;
  
}

div.ability div div {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 16vw;
  height: 100%;
  background-color: crimson;
  color: transparent;
}

div.ability div p {
  position: relative;
  z-index: 1;
  font-family: monospace;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.85);
  color: green;
}